<div *ngIf="userDetail">
  <div class="item">
    <div class="left-info">
      <h2>{{userDetail.id}}</h2>
      <div class="info">
        <p>created {{userDetail.created}}</p>
      </div>
    </div>
    <div class="right-info">
      <p class="point">{{userDetail.karma}}<br/><span><i class="fa fa-star-o" aria-hidden="true"></i></span></p>
    </div>
  </div>
  <div class="about" *ngIf="userDetail.about">
    <h3>About</h3>
    <ul class="inner-about">
      <li>
        <p [innerHTML]="userDetail.about"></p>
      </li>
    </ul>
  </div>
</div>  