.wrap 
    box-sizing: border-box
    display: table
    height: 100%
    width: 100%
    .inner-wrapper
        display: table-row
        height: 100%
        #main-content
@media (max-width: 600px)
    .inner-wrapper
        position: absolute
        width: 100%
        overflow-wrap: break-word
