.wrap-feed    
    padding: 20px 30px
    margin: 20px 0 50px
    background: #fff
    transition: all .5s cubic-bezier(.55,0,.1,1)
    .top-content
        display: flex
        padding:  0 0 20px
        border-bottom: 1px solid #e8e8e8
        li
            flex: 1
            &:last-child
                text-align: right
            .wrap-btn
                .btn-page
                    font-size: 15px
                    color: #f4511e
                    font-weight: 500
                    margin-left: 20px
                    line-height: 36px
    .main-content
        ul
            .item-content
                padding: 20px 0
                border-bottom: 1px solid #e8e8e8
                display: flex
                &:last-child
                    border-bottom: none
                .list-number
                    font-weight: 500
                .item-content-wrapper
                    padding-left: 10px
                    flex: 1
                    .title
                        font-size: 15px
                        color: #5c5c5c
                        font-weight: 400
                        a
                            color: #5c5c5c
                            &:hover
                                font-weight: 400
                        .url-info
                            font-size: 13px
                            font-weight: normal
                            color: #999
                            margin-left: 5px
                            letter-spacing: 0.3px
                    .info
                        font-size: 13px
                        color: #b1b1b1
                        letter-spacing: 0.3px
                        p
                            margin-top: 10px
                            .submitted-info
                                font-weight: 500
                                color: #f4511e
                .item-tag
                    // overflow: hidden
                    .point
                        text-align: center
                        font-size: 16px
                        font-weight: bold
                        color: #f4511e
                        padding: 3px 0
                        float: left
                        margin-left: 15px
                        span
                            font-size: 13px
                            font-weight: normal
                            color: #b1b1b1
                        &:hover
                            color: #f4511e
                    .share-icon
                        float: left
                        line-height: 50px
                        padding: 0 15px
                        color: #b1b1b1
                        position: relative
                        &:hover
                            .social-share
                                display: flex
                        i:hover
                            color: #f4511e
                        .fa-facebook:hover
                            color: #3b5998
                        .fa-linkedin:hover
                            color: #007bb6
                        .fa-google-plus:hover
                            color: #d34836
                        .social-share
                            position: absolute
                            display: none
                            background: #fff
                            border: 1px solid #e8e8e8
                            padding: 0 1rem
                            left: -80px
                            bottom: -34px
                            border-radius: 5px
                            li
                                padding: 0 10px
                                p
                                    line-height: 35px
                                &:first-child
                                    p
                                        color: #f4511e
                                        font-weight: 500

                    .comment
                        float: left
                        display: block
                        padding: 0 7px
                        background-color: #b1b1b1
                        border-radius: 3px
                        color: white
                        font-weight: bold
                        position: relative
                        top: 13px
                        margin-right: 15px
                        font-size: 13px
                        font-weight: 500
                        letter-spacing: 0.5px
                        &:hover
                            background: #f4511e
                            &:before
                                border-right: 9px solid #f4511e
                        &:before
                            content: ""
                            height: 0
                            width: 0
                            border-top: 9px solid transparent
                            border-bottom: 9px solid transparent
                            border-right: 9px solid #b1b1b1
                            width: 0px
                            height: 0px
                            position: absolute
                            right: 4px
                            bottom: -46%