<div class="wrap-feed"> 
  <div>
    <ul class="top-content">
      <li>
        <h2>{{feedType}}</h2>
      </li>
      <li>
      <div class="wrap-btn" *ngIf="feedItems">
        <a class="btn-page" *ngIf="pageNumber > 1" (click)="prevPage()">Prev</a>
        <a class="btn-page" *ngIf="feedItems.length === 30" (click)="nextPage()">Next</a>
      </div>
      </li>
    </ul>
  </div> 
  <div class="main-content">
    <ul>
      <li class="item-content" *ngFor="let item of feedItems, let i = index">
        <p class="list-number">{{i + feedStart}} .</p>
        <div class="item-content-wrapper">
          <p class="title">
            <a href="{{item.url}}">{{item.title}}</a>
            <span class="url-info">{{(item.domain)}}</span>
          </p>
          <div class="info">
            <p>submitted <span class="created-info">{{item.time_ago}}</span> <span *ngIf="item.type !== 'job'">by</span> <a routerLink="/user/{{item.user}}" class="submitted-info">{{item.user}}</a></p>
          </div>
        </div>
        <div class="item-tag">
          <a class="comment" *ngIf="feedType !== 'jobs'" routerLink="/item/{{item.id}}">{{item.comments_count}}</a>
          <div class="share-icon">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <ul class="social-share">
              <li>
                <p>Share</p> 
              </li>
              <li>
                <p ceiboShare  [facebook]="{u: item.url}"><i class="fa fa-facebook" aria-hidden="true"></i></p>
              </li>
              <li>
                <p ceiboShare  [linkedIn]="{url:item.url}"><i class="fa fa-linkedin" aria-hidden="true"></i></p>
              </li>
              <li>
                <p ceiboShare  [googlePlus]="{url:item.url}"><i class="fa fa-google-plus" aria-hidden="true"></i></p>
              </li>
            </ul>
          </div>
          <p class="point">{{item.points ? item.points : 1}}<br/><span>{{item.points > 1 ? "points" :"point"}}</span></p>
        </div>
      </li>
    </ul>
  </div>
</div>